language: php

git:
  depth: 1
env:
  global:
  - DEFAULT_COMPOSER_FLAGS="--no-interaction --no-progress --optimize-autoloader"
  - REPORT_TESTS_COVERAGE=0
matrix:
  fast_finish: true
  include:
  - php: 7.0
  - php: 7.1
  - php: 7.2
  - php: 7.3
  - php: 7.4
  - php: 8.0
    env: REPORT_TESTS_COVERAGE=1

cache:
  directories:
    - $HOME/.composer/cache

before_install:
  - travis_retry composer self-update

install:
  - travis_retry composer install --no-interaction --prefer-dist --no-suggest

script:
  - vendor/bin/phpunit --coverage-text --coverage-clover=coverage.clover

after_script:
  - if [ $REPORT_TESTS_COVERAGE == 1 ]; then wget https://scrutinizer-ci.com/ocular.phar; fi
  - if [ $REPORT_TESTS_COVERAGE == 1 ]; then php ocular.phar code-coverage:upload --format=php-clover coverage.clover; fi
